.postJobComponent {
    padding-top: calc(var(--header-height) + 12.5px);
    padding-bottom: 94px;
    background: linear-gradient(253deg, var(--dark-gray) 0%, #1A253C 100%) top no-repeat, var(--white) 0% 0% no-repeat padding-box;
    background-size: 100% 210px;
    min-height: 100vh;
    box-sizing: border-box;
}

.createJobDescriptionContainer {
    border: 1px solid red;
}

.postJobComponentBody {
    margin-top: 40px;
    /* border: 1px solid turquoise; */
    display: flex;
    justify-content: center;
    height: inherit;
    padding-bottom: 70px;
}

@media screen and (max-width: 720px) {
    .postJobComponentBody {
        padding-left: 10px;
        padding-right: 10px;
    }
}