.buttonComponent {
    background-color: var(--dark-blue);
    border: 2px solid transparent;
    padding: 14px 30px 14px 30px;
    border-radius: 5px;
    font-size: 16px;
    color: var(--white);
    font-family: Helvetica;
    transition: .2s;
    opacity: 1;
    box-sizing: padding-box;
    min-width: 148px;
    min-height: 46px;

    &:active {
        opacity: 0.5;
        transition: .2s;
        border: 2px solid transparent;
        outline: none;
    }
}