.resetPasswordComponent {
    padding-top: calc(var(--header-height) + 100px);
    padding-bottom: 94px;
    background: linear-gradient(253deg, var(--dark-gray) 0%, #1A253C 100%) top no-repeat, var(--white) 0% 0% no-repeat padding-box;
    background-size: 100% 362px;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    // align-items: center;
}

.formContainerResetPassword {
    margin-top: 23px;
}

.submitButtonResetComponentContainer {
    text-align: center;
    margin-top: 30px;
}

.resetPasswordInfo {
    margin-top: 20px;
    font-size: 14px;
    color: var(--dark-gray);
    letter-spacing: 0px;
    font-family: Helvetica;
    text-align: left;
}

@media screen and (max-width: 580px) {
    .resetPasswordComponent {
        padding-left: 10px;
        padding-right: 10px;
    }
}